<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

    <div class="jumbotron">
        <div class="container">
            <h4 class="alert alert-info" *ngIf="alert">{{alert.message}}</h4>
        </div>
        <h2>Controle de Produto</h2>
        <app-form [(produto)]="produto" (save)="submit($event)"></app-form>
    </div>



    <div class="container">
        <h5>Listagem</h5>
        <app-list [produtos]="produtos" (update)="update($event)" (remove)="remove($event)"></app-list>
    </div>
</div>>