<div class="container" *ngIf="(pageProdutos | async)?.length as total">
    <h3 class="mb-3">
        Produtos
        <small class="text-muted">Listagem</small>
    </h3>
    <div class="container" style="margin-bottom: 20px;">
        
    </div>
    <div class="container">
        <app-list [produtos]="pageProdutos" (update)="update($event)" (remove)="remove($event)"></app-list>
    </div>
    <div class="card-footer text-right">
        Existem {{total}} produtos cadastrados.
    </div>

    
</div>
<div *ngIf="(pageProdutos | async)?.length < 1" >
    <h5 class="mensagem">Nenhum produto cadastrado!</h5>
</div>
